amqp
billiard
catboost
celery
Django
django-celery-results
gunicorn
huggingface-hub==0.22.2
llama_cpp_python==0.2.65
networkx
numpy
packaging
pandas
pillow
platformdirs
plotly
prompt-toolkit
psutil
psycopg2-binary
pyzmq
redis
sympy
tenacity
tokenizers
torch==2.3.0
tornado
tqdm
traitlets
transformers0
urllib3
python-calamine
